<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Color calibration</title>
</head>

<body id="home">
<img src="static/tempcalibrate.png?cachebust={{hl}}{{sl}}{{vl}}{{hh}}{{sh}}{{vh}}{{blah}}">
<form method="POST">
	hl:
	<input type="number" name="hl" min="0" max="255" value="{{hl}}">
	sl:
	<input type="number" name="sl" min="0" max="255" value="{{sl}}">
	vl:
	<input type="number" name="vl" min="0" max="255" value="{{vl}}">
	<br/>
	hh:
	<input type="number" name="hh" min="0" max="255" value="{{hh}}">
	sh:
	<input type="number" name="sh" min="0" max="255" value="{{sh}}">
	vh:
	<input type="number" name="vh" min="0" max="255" value="{{vh}}">
	<input type="submit" value="Submit">
</form>
</body>
</html>
